.env
env
.env.*
transcribe.json
.transcribe.json
README.md
Dockerfile
docker-compose.yml
.vscode
webhook_samples/
*.bak
*.dat
*.dir

.extracode.py
extracode.py

**/__pycache__/
*.pyc
__pycache__/

# Ignore log files
*.log

